<div *ngIf="deliveries$ | async as deliveries">
  <mat-toolbar>
    <span>Dashboard</span>
  </mat-toolbar>
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Andamento de entregas por motorista">
      <app-delivery-progress [deliveries]="deliveries"></app-delivery-progress>
    </mat-tab>
    <mat-tab label="Quantidade de entregas sem sucesso"
      ><app-delivery-quantity [deliveries]="deliveries"></app-delivery-quantity
    ></mat-tab>
    <mat-tab label="Andamento de entregas por bairro"
      ><app-delivery-district [deliveries]="deliveries"></app-delivery-district
    ></mat-tab>
  </mat-tab-group>
</div>
